body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:480px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:56px;
  top:50px;
  width:424px;
  height:848px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:848px;
}
#u2 {
  position:absolute;
  left:2px;
  top:416px;
  width:420px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:81px;
  top:139px;
  width:375px;
  height:667px;
}
#u3_input {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u4 {
  position:absolute;
  left:81px;
  top:139px;
  width:375px;
  height:64px;
}
#u4_img {
  position:absolute;
  left:-3px;
  top:-3px;
  width:381px;
  height:70px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:81px;
  top:139px;
  width:375px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:20px;
}
#u7 {
  position:absolute;
  left:2px;
  top:0px;
  width:371px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:119px;
  top:139px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:86px;
  top:147px;
  width:33px;
  height:5px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:5px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:421px;
  top:144px;
  width:25px;
  height:10px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:10px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:390px;
  top:141px;
  width:31px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:17px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:368px;
  top:139px;
  width:22px;
  height:20px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:231px;
  top:139px;
  width:18px;
  height:20px;
  overflow:hidden;
}
#u18_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u18_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:20px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u18_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u19 {
  position:absolute;
  left:80px;
  top:757px;
  width:376px;
  height:50px;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:50px;
}
#u20 {
  position:absolute;
  left:2px;
  top:17px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21 {
  position:absolute;
  left:85px;
  top:169px;
  width:28px;
  height:28px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u22 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:113px;
  top:173px;
  width:37px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:229px;
  top:173px;
  width:81px;
  height:22px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:22px;
}
#u26 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:420px;
  top:170px;
  width:28px;
  height:28px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u28 {
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:119px;
  top:757px;
  width:10px;
  height:50px;
}
#u29_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u29_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u29_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u30 {
  position:absolute;
  left:231px;
  top:757px;
  width:10px;
  height:50px;
}
#u30_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u30_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u30_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u31 {
  position:absolute;
  left:341px;
  top:757px;
  width:10px;
  height:50px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:33px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:50px;
}
#u32 {
  position:absolute;
  left:139px;
  top:773px;
  width:21px;
  height:18px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u33 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:250px;
  top:773px;
  width:21px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u35 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:361px;
  top:773px;
  width:21px;
  height:18px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:18px;
}
#u37 {
  position:absolute;
  left:2px;
  top:1px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:85px;
  top:763px;
  width:37px;
  height:38px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:38px;
}
#u39 {
  position:absolute;
  left:2px;
  top:11px;
  width:33px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:162px;
  top:775px;
  width:61px;
  height:16px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:273px;
  top:775px;
  width:61px;
  height:16px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:384px;
  top:775px;
  width:61px;
  height:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:162px;
  top:914px;
  width:212px;
  height:16px;
  color:#FF0000;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  height:16px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:212px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:133px;
  top:490px;
  width:95px;
  height:257px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:257px;
}
#u49 {
  position:absolute;
  left:2px;
  top:120px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:170px;
  top:742px;
  width:21px;
  height:9px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:9px;
}
#u51 {
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:141px;
  top:571px;
  width:79px;
  height:10px;
}
#u52_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u52_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u53 {
  position:absolute;
  left:141px;
  top:613px;
  width:79px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u54 {
  position:absolute;
  left:151px;
  top:547px;
  width:59px;
  height:16px;
  text-align:center;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:137px;
  top:590px;
  width:87px;
  height:16px;
  text-align:center;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:141px;
  top:655px;
  width:79px;
  height:10px;
}
#u58_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u58_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u59 {
  position:absolute;
  left:151px;
  top:631px;
  width:59px;
  height:16px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:137px;
  top:674px;
  width:87px;
  height:16px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:243px;
  top:700px;
  width:95px;
  height:47px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:47px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:280px;
  top:742px;
  width:21px;
  height:9px;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:9px;
}
#u66 {
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:247px;
  top:716px;
  width:87px;
  height:16px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:351px;
  top:571px;
  width:95px;
  height:176px;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:176px;
}
#u70 {
  position:absolute;
  left:2px;
  top:80px;
  width:91px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:388px;
  top:742px;
  width:21px;
  height:9px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:9px;
}
#u72 {
  position:absolute;
  left:2px;
  top:-4px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:359px;
  top:654px;
  width:79px;
  height:10px;
}
#u73_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u73_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u74 {
  position:absolute;
  left:151px;
  top:715px;
  width:59px;
  height:16px;
  text-align:center;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u75 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:355px;
  top:673px;
  width:87px;
  height:16px;
  text-align:center;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:359px;
  top:697px;
  width:79px;
  height:10px;
}
#u78_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u78_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u79 {
  position:absolute;
  left:355px;
  top:716px;
  width:87px;
  height:16px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:359px;
  top:610px;
  width:79px;
  height:10px;
}
#u81_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u81_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u82 {
  position:absolute;
  left:355px;
  top:587px;
  width:87px;
  height:16px;
  text-align:center;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:16px;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:369px;
  top:628px;
  width:59px;
  height:16px;
  text-align:center;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u85 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:142px;
  top:697px;
  width:79px;
  height:10px;
}
#u86_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u86_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u87 {
  position:absolute;
  left:141px;
  top:528px;
  width:79px;
  height:10px;
}
#u87_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_end {
  position:absolute;
  left:62px;
  top:-5px;
  width:18px;
  height:20px;
}
#u87_line {
  position:absolute;
  left:0px;
  top:5px;
  width:79px;
  height:1px;
}
#u88 {
  position:absolute;
  left:151px;
  top:504px;
  width:59px;
  height:16px;
  text-align:center;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:16px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  word-wrap:break-word;
}
